@model List<_190410_BlogV1.Models.Yorumlar>

@foreach (var item in Model)
{
    <div class="comments-main">
        <div class="col-md-2 cmts-main-left">
            <img src="~/Template/images/avatar.png" alt="">
        </div>
        <div class="col-md-10 cmts-main-right">
            <h5>@item.Baslik</h5>
            <p>@item.YorumIcerik</p>
            <div class="cmts">
                <div class="cmnts-left">
                    <p>@item.YorumTarih</p>
                </div>
                <div class="cmnts-right">
                    <a href="#">Reply</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}
