@model List<_190410_BlogV1.Models.Makaleler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="about">
    <div class="container">
        <h2>MAKALELER</h2>
        <div class="biography">
            <div class="biographys">

                @foreach (var item in Model)
                {
                    <div class="col-md-4 biography-info">
                        <img src="~/Template/images/img11.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-8 biography-into">
                        <h4>@item.Baslik</h4>
                        <p>@item.icerik</p>
                        <a href="/Makaleler/MakaleDetayIndex/@item.MakalelerID" class="link">Daha Fazla oku</a>
                    </div>
                <div class="clearfix"> </div>
                }

                
            </div>

        </div>
    </div>
</div>
